.idea/
build/
cmake-build-debug/
images/
workspace/
catkin_ws/
external/googletest-1.8.0/
#catkin_ws/.catkin_tools/
#catkin_ws/build/
#catkin_ws/devel/
#catkin_ws/logs/
stereo/build_jetson/
video/build/
video/build_jetson/
*.mp4
.qglviewer.xml
